/* Header */
.header {
  background-color: #2B2F31;
  padding: 30px;
}
.add-icon {
  width: 20px;
  padding:0 5px
}
.add-product {
  position: relative;
  display: inline;
  margin-left:30px;
  font-size:26px;
  color:#20bba6;
}
.button {
  border: 2px #20bba6 solid;
  padding: 5px 12px;
}
.search-wrap{
  background: #eaedf2;
  position: relative;
  display: inline;
}
/* Search */
.search {
  background: #eaedf2;
  height: 35px;
  padding-left:40px;
  width:40%; 
  border:none;
  margin:none;
  outline: none;
  color: #6f7071;
  font-size: 26px
}
.search:focus{
  outline: none;
  background: #ffffff;
  color: #20bba6;
}
.search-icon {
  width: 27px;
  position: absolute;
  padding:5px;
  left: 0
}