.App {
  text-align: center;
  background: #eaedf2;
}


.header {
  background-color: #2B2F31;
  height: 30px;
  padding: 30px;
}


.card-list {
 color:#2B2F31;
 display: inline;
}
.cardWraper{
  width:20%;
  float:left;
  margin: 30px;

}
.cardWraper:before {
  padding-top: 16.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.card {
  background: white;
  position: relative;
  
}

.img-wrap {
  overflow: hidden;
}
.img-inner {
  display: inline-block;
  position: relative;
  right: -50%;
  }
  .img-inner img  {
  width:100%;
  position: relative;
  left: -50%;
}
.modal {
    padding: 0;
    border-radius: 5px;
    overflow-y: visible;
    display: block;
    border: 0;
    width: 600px;
    max-width: 75rem;
    height:500px;
    background: white;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
}
.modalWrap {
   display: block!important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: none;
    background-color: hsla(0, 0%, 4%, .45);
    overflow-y: scroll;
}
.closeButton {
  border: 0;
  background: transparent;
  margin: 10px -40px 0 0;
  float: right;
  color: white;
}
.modalContent{
  padding:40px;
  min-height: 330px;
}
.modalFooter{
  padding:0 40px;
}
.description {
  width:100%;
  height:200px
}
.fildset {
  padding:10px 0px;
}
.name {
  width: 40%;
  font-size: 16px;
  padding: 5px;
}
.url {
  width: 40%;
  font-size: 16px;
  padding: 5px;
  float:left
}
.imgCloseButton {
  width:20px;
}
.imgSaveButton {
  width:45px;
}
.saveButton {
 float: right;
}
.imgDeleteButton{

  width: 100%!important;

}
.deleteButton:hover{
  background: hsla(0, 96%, 48%, 0.58);
}
.deleteButton{
  position: absolute!important;
  width: 30px!important;
  height: 30px!important;
  background: hsla(0, 0%, 0%, 0.58);
  padding: 10px;
  top: 0;
  right:0
}
.searchWrap{
  background: #eaedf2;
  position: relative;
  display: inline;
}
.search {
  background: #eaedf2;
  height: 35px;
  padding-left:40px;
  width:50%; 
  border:none;
  margin:none;
  outline: none;
  color: #6f7071;
  font-size: 26px
}
.search:focus{
  outline: none;
  background: #ffffff;
  color: #20bba6;
}
.searchIcon {
  width: 27px;
  position: absolute;
  padding:5px;
  /* position: absolute; */
  left: 0
}