.App {
  text-align: center;
  background: #eaedf2;
}


.header {
  background-color: #2B2F31;
  height: 50px;
  padding: 20px;
  color: #20bba6;
}


.card-list {
 color:#2B2F31;
 display: inline;
}
.cardWraper{
  width:20%;
  float:left;
  margin: 30px;

}
.cardWraper:before {
  padding-top: 16.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.card {
  background: white;
}

.img-wrap {
  overflow: hidden;
}
.img-inner {
  display: inline-block;
  position: relative;
  right: -50%;
  }
img {
  width:100%;
  position: relative;
  left: -50%;
}
