.app {
  text-align: center;
  background: #eaedf2;
}

.header {
  background-color: #2B2F31;
  padding: 30px;
}

.card-list {
 color:#2B2F31;
 display: inline;
}
.card-wraper{
  width:20%;
  float:left;
  margin: 30px;

}
.card-wraper:before {
  padding-top: 16.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.card {
  background: white;
  position: relative;
  
}

.img-wrap {
  overflow: hidden;
}
.img-inner {
  display: inline-block;
  position: relative;
  right: -50%;
  }
  .img-inner img  {
  width:100%;
  position: relative;
  left: -50%;
}
.desc-wrap {
padding: 10px;
}
.modal {
    padding: 0;
    border-radius: 5px;
    overflow-y: visible;
    display: block;
    border: 0;
    width: 600px;
    max-width: 75rem;
    height:500px;
    background: white;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
}
.modal-wrap {
    display: block!important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    background-color: hsla(0, 0%, 4%, .45);
    overflow-y: scroll;
}
.close-button {
  border: 0;
  background: transparent;
  margin: 10px -40px 0 0;
  float: right;
  color: white;
}
.modal-content{
  padding:40px;
  min-height: 330px;
}
.modal-footer{
  padding:0 40px;
}
.description {
  width:100%;
  height:200px
}
.fildset {
  padding:10px 0px;
}
.name {
  width: 40%;
  font-size: 16px;
  padding: 5px;
}
.url {
  width: 40%;
  font-size: 16px;
  padding: 5px;
  float:left
}
.img-close-button {
  width:20px;
}
.img-save-button {
  width:30px;
}
.save-button {
 float: right;
}
.img-delete-button {
  width: 100%!important;
}
.delete-button:hover{
  background: hsla(0, 96%, 48%, 0.58);
}
.delete-button{
  position: absolute!important;
  width: 30px!important;
  height: 30px!important;
  background: hsla(0, 0%, 0%, 0.58);
  padding: 10px;
  top: 0;
  right:0
}
.search-wrap{
  background: #eaedf2;
  position: relative;
  display: inline;
}
.search {
  background: #eaedf2;
  height: 35px;
  padding-left:40px;
  width:40%; 
  border:none;
  margin:none;
  outline: none;
  color: #6f7071;
  font-size: 26px
}
.search:focus{
  outline: none;
  background: #ffffff;
  color: #20bba6;
}
.search-icon {
  width: 27px;
  position: absolute;
  padding:5px;
  /* position: absolute; */
  left: 0
}
.add-icon {
  width: 20px;
  padding:0 5px
}
.add-product {
 position: relative;
 display: inline;
 margin-left:30px;
 font-size:26px;
 color:#20bba6;

}
.button {
  border: 2px #20bba6 solid;
  padding: 5px 12px;
}

.notification-wrap{
  display: block!important;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.127);
}